---
layout: default
format: frontpage
---

<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<div class="row t60">
    <h2>About Me</h2>
    <!-- <img src="images/gallery-example-1-thumb.jpg" alt="Your Name"
        style="float: right; margin-left: 20px; width: 300px; height: 400px;"> -->
    <p>
        Dr. Pedram Mortazavi is currently an Assistant Professor in the Department of Civil, Environmental, and Geo-Engineering (CEGE) at the
        <a href="https://cse.umn.edu/cege/faculty/pedram-mortazavi">University of Minnesota, Twin Cities</a>. He recieved his Ph.D. from the University of Toronto in 2023. Prior to that he completed his MASc and 
        undergraduate studies at Carleton University in Canada, and the University of Science and Culture in Tehran, Iran, respectively.  
        
        supervised by Professor Hwasoo Yeo at <a href="https://www.aimobility.kaist.ac.kr/">AIxMobility Lab</a>. I

    </p>

    <!-- <ul class="inline-list social-icons">
        {% for social_item in site.data.socialmedia %}
        <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}"
                title="{{ social_item.title }}"></a></li>
        {% endfor %}
    </ul> -->

    <p>
       Professor Mortazavi's research is primarily focused on the development, experimental validation, and codification of smart structural systems 
       to enhance the resilience of infrastructure under natural hazards. Dr. Mortazavi is an expert in large-scale testing, numerical modelling, 
       advanced simulation methods, along with the performance and behavior of steel structures. His doctoral research at the University of Toronto, which 
       focused on resilient design of eccentrically braced frames with cast steel replaceable modular yielding links has gained him several recognitions 
       including the G. J. Jackson Fellowship by CISC, and the Donald Jamieson Fellowship by CSCE, to name a few. In addition to his academic career,
       Dr. Mortazavi has extensive industrial experience, is a licensed structural engineer in Ontario, Canada, and has worked at several consulting 
       and R&D firms including J. L. Richards and Associates Ltd., Cast Connex, and DIALOG. In addition, he has served as a peer reviewer for seismic 
       upgrades of several heritage buildings in Ottawa, Canada.
    </p>
    <p>
        Main research expertise  and interests are as follows:
    </p>

    <ul>
        <li>Structural Resilience</li>
        <li>Steel Structures</li>
        <li>Large-Scale Testing</li>
        <li>Development of Cast Steel Energy Dissipative Systems</li>
        <li>Development of Passive Control Systems such as Damping and Isolation Systems</li>
        <li>Development of Self-Centering Structural System and Mitigation of Residual Deformations</li>
        <li>Validation and Codification of New Structural Systems</li>
        <li>Advanced Simulation Methods and Numerical Modelling</li>
        <li>Hybrid Simulation</li>
        <li>Multi-Platform Simulation</li>
        <li>Mass-Timber Structures</li>
    </ul>

    <h3>Note to Prospective Students/Postdocs</h3>
    <p>
        I am looking for 1-2 PhD students (and/or a Postdoc) for the Spring/Fall term of 2025 (January/September start) who 
        are excited to contribute to our ongoing efforts in advancing the above-mentioned research fields. If you're interested, 
        please send me an email at <a href="mailto:pmortaza@umn.edu">pmortaza[at]umn.edu</a>. Please include a CV, a research 
        statement, and an academic transcript.
        <br>
        Please use “Prospective PhD student [Your name]” as your email subject. Please note that due to the large volume of 
        emails, I cannot acknowledge/reply to all inquiries I receive.
    </p>

    <p>
        See more info about <a href="https://cse.umn.edu/cege/graduate">Civil, Environmental, and Geo-Engineering @
            University of Minnesota, Twin Cities</a>
    </p>

</div>

<div id="blog-index" class="row">
    <h2>Recent News</h2>

    <div class="small-12 columns t30">
        <h1>{{ page.title }}</h1>
        {% if page.teaser %}<p class="teaser">{{ page.teaser }}</p>{% endif %}

        <dl class="accordion" data-accordion>
            {% assign counter = 1 %}
            {% for post in site.posts limit:5 %}
            <dd class="accordion-navigation">
                <a href="#panel{{ counter }}"><span class="iconfont"></span> {% if post.subheadline %}{{
                    post.subheadline }} › {% endif %}<strong>{{ post.title }}</strong></a>
                <div id="panel{{ counter }}" class="content">
                    {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% elsif post.teaser
                    %}{{ post.teaser | strip_html | escape }}{% endif %}
                    {% if post.readmore %}
                    <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"
                        title="Read {{ post.title | escape_once }}"><strong>{{
                            site.data.language.read_more
                            }}</strong></a><br><br>
                    {% endif %}
                </div>
            </dd>
            {% assign counter=counter | plus:1 %}
            {% endfor %}
        </dl>

        <!-- Add this line for the 'Read More' link with inline styling for right alignment -->
        <p style="text-align: right;"><a href="/news/" title="Read more news"><strong>More News</strong></a></p>

    </div><!-- /.small-12.columns -->
</div><!-- /.row -->
