---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->

<div class="row t60">
    <h1>About Me</h1>
    <img src="images/gallery-example-1-thumb.jpg" alt="Your Name" style="float: left; margin-right: 20px;">
    <p>
        I'm an Assistant Professor in the Department of Civil, Environmental, and Geo-Engineering at the
        <a href="https://cse.umn.edu/cege/seongjin-choi">University of Minnesota, Twin Cities</a>. I received my Ph.D.
        from the Department of Civil and
        Environmental Engineering at Korea Advanced Institute of Science and Technology supervised by Professor Hwasoo
        Yeo
        at <a href="https://www.aimobility.kaist.ac.kr/">AIxMobility Lab</a>. I
        received my Bachelor and Master's degrees from the same department and institute. Also, I was a Postdoctoral
        Researcher in the Department of Civil Engineering at McGill University in Canada with <a
            href="https://lijunsun.github.io/">Professor Lijun Sun's
            group</a>.
    </p>

    <p>
        My research interests are broad and interdisciplinary, encompassing Urban Mobility Data Analytics,
        Spatiotemporal
        Data Modeling, Deep Learning & Artificial Intelligence, and Connected Automated Vehicles (CAV) &
        Cooperative-ITS. I
        am particularly driven by the desire to optimize urban mobility and contribute to the development of a
        sustainable
        and efficient urban transportation system. My work involves utilizing data analytics to draw valuable insights
        from
        urban mobility data and applying cutting-edge AI technologies in the field of transportation.
    </p>

    <p>
        My research topics and interests are as follows:
    </p>

    <ul>
        <li>Urban transportation and mobility data analytics</li>
        <li>Spatiotemporal data modeling (forecasting, imputation)</li>
        <li>Generative AI for transportation and mobility data</li>
        <li>Modeling CAV, C-ITS using Reinforcement Learning
        <li>Other applications of machine learning and deep learning in the transportation domain</li>
    </ul>

    <h2>For Prospective Students/Postdocs</h2>
    <p>
        I am looking for 1-2 PhD students (and/or a Postdoc) for 2024 Spring/Fall (starts in January/September) who
        are excited about machine learning for urban transportation and mobility data. If you're interested, please send
        me an email at <a href="mailto:chois@umn.edu">chois[at]umn.edu</a>.
        Please include a CV, a research statement,and an academic transcript.
        <br>
        Please use “Prospective PhD student [Your name]” as your email subject. Due to the large volume of emails, I
        apologize for not replying to individual inquiries I have received.
    </p>

    <p>
        See more info about <a href="https://cse.umn.edu/cege/graduate">Civil, Environmental, and Geo- Engineering @
            University of Minnesota, Twin
            Cities</a>
    </p>
</div>